{% extends 'base.html.twig'%}
{% block body %}

    <div  style="display: flex; align-items: center; justify-content: center; margin-top: 25px; margin-bottom: 25px;">
    <div class="col-lg-7 mb-5 mb-lg-0">
        <div class="form-title">
            <h1> Ajouter Commande</h1>
             </div>
        <div id="form_status"></div>
        <div >
            {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}

              <div>
                   <p> {{ form_widget(form.quantite,  {'attr':{'class':'form-control'}}) }}
                       {{ form_errors(form.quantite) }}</p>
                  <p>{{ form_widget(form.numfacture,  {'attr':{'class':'form-control'}})}}
                      {{ form_errors(form.numfacture) }}</p>


                  <p> {{ form_widget(form.rue,  {'attr':{'class':'form-control'}}) }}
                      {{ form_errors(form.rue) }}
                  </p>
                  <p>{{ form_widget(form.etat,  {'attr':{'class':'form-control'}}) }}
                      {{ form_errors(form.etat) }}</p>
                  <p>{{ form_widget(form.delegation,  {'attr':{'class':'form-control'}}) }}
                      {{ form_errors(form.delegation) }}</p>
                  <p>{{ form_widget(form.idplat,  {'attr':{'class':'form-control'}}) }}
                      {{ form_errors(form.idplat) }}</p>
                  <p> {{ form_widget(form.idClient,  {'attr':{'class':'form-control'}}) }}
                      {{ form_errors(form.idClient) }}</p>
                  <p>             </p>
              </div>
                <input type="hidden" name="token" value="FsWga4&amp;@f6aw">
                <p>{{ form_widget(form.ajouter,  {'attr':{'class':'btn btn-outline-dark'}}) }}</p>
            {{ form_end(form) }}
        </div>
    </div>
    </div>







{% endblock %}