

{% extends 'base-back.html.twig'%}
{% block body %}
    <!doctype html>
    <html lang="en"> <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <style>

        </style>
        <title>Document</title>
    </head>
    <body >
    <div style="margin-top: 100px ; margin-left: 400px">

        <h1 style="margin-left: 25px; margin-left: 350px ;margin-bottom: 25px; color: #86b7fe; font-family: 'Arial Black'; font-size: xx-large">Liste des Commandes</h1>
        <div class="card" style="margin-right: 35px">
        <div class="card-body" style="margin-right: 50px">
            <table  class="table"  >

                <thead>
                <tr >
                    <th >Nom plat</th>
                    <th>quantite</th>
                    <th>Numéro de commande</th>
                    <th>Rue</th>
                    <th>etat</th>
                    <th>Delegation</th>
                    <th>Nom client</th>


                </tr>
                </thead>
                <tbody>
                {% for p in panier  %}
                <tr>
                    <td>{{ p.idplat.Nomplat }}</td>
                    <td>{{ p.quantite }}</td>
                    <td>{{ p.numfacture }}</td>
                    <td>{{ p.Rue }}</td>
                    <td>{{ p.etat }}</td>
                    <td>{{ p.Delegation }}</td>
                    <td>{{ p.idClient.nom }}</td>

                </tr {% endfor %}>
                </tbody>
            </table>
        </div>



    </div>
    </body>
    </html>
{% endblock %}