{% extends 'base-back.html.twig'%}
{% block title %}Statistiques{% endblock %}
 {% block stylesheets %}
   {#  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous" referrerpolicy="no-referrer" >
   #}
     {{ encore_entry_link_tags('app') }}
 {% endblock %}
{% block body %}
    <div style="margin-left:350px; margin-top: 100px">
    <h1>Mes statistiques</h1>
        <center>
            <div style="width:600px;height: 600px">
                {{ render_chart(chart)}}</div></center>
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {#  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>#}
{# <script>
    let categories=document.querySelector("#categories")
    let categGraph= new Chart(categories, {
        type:"pie",
        data:{
            labels:{{ labels|raw }},
            datasets:[{
                label: "Répartition des réclamations" ,
                data: {{ data|raw}}
        ,
                backgroundcolor:["red","green","blue"]
            }]
        }
    })
</script> #}
{% endblock %}