{% extends 'base.html.twig'%}
{% block body %}
    <div style="margin-left:350px; margin-top: 100px">
        {% for message in app.flashes('info')  %}
            <div class="alert alert-success alert-dismissible fade show" role="alert" style="width: 50%">
            {{ message }}
            </div>{% endfor %}
        <a href="{{ path('Affichefrontlivraison') }}">Retour à la liste</a>
        {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
        <h1>Ajouter livraison</h1>

            <div class="col-md-9" >
                {{ form_widget(form.region , {'attr':{'class':'form-control'}})}}
                {{ form_errors(form.region) }}
            </div>
           <br>
            <div class="col-md-9">
                {{ form_widget(form.rueliv , {'attr':{'class':'form-control'}}) }}
                {{ form_errors(form.rueliv) }}
            </div>

            <div class="col-md-9">
                <br>
                {{ form_widget(form.Ajouter, {'attr':{'class':'btn btn-primary'}}) }}
            </div>
    <div>
        {% if qrCode %}
        <img src="{{ qrCode }}" alt="qr-code">
        {% endif %}
    </div>

        {{ form_end(form) }}
    </div>
{% endblock %}