{% extends 'base.html.twig' %}
{% block body %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<h3 class="comment-count-title">{{ av|length}} Comments</h3>
<body>
<div class="comments-list-wrap">
    {% for i in av %}

    <div class="comment-list">
        <div class="single-comment-body">
            <div class="comment-user-avater">

            </div>
            <div class="comment-text-body">
                 client: {{ i.IdClient.prenom}} <br> blog: {{ i.Idblog.titreblog }} <br> <br> <span class="comment-date">{{ i.dateavis|date('Y-m-d H:i:s') }}</span>

                    <button type="button" class="btn btn-outline-danger"><a href="{{ path('af',{'id':i.Idavis})}}">Supprimer</a></button>

                <button type="button" class="btn btn-outline-success"><a href="{{ path('updateaf',{'id':i.Idavis}) }}">Modifier</a></button>

                <h4>{{i.descriptionavis }} </h4>
<a href="{{ path('like',{'id':i.idavis}) }}"><img src="/assets/front-office/img/likee.png"  ></a>
                {{ i.Likee }}
                &nbsp;
    <a href="{{ path('dislike',{'id':i.idavis}) }}"><img src="/assets/front-office/img/unlikee.png"  ></a>

                {{ i.deslike }}
            </div>

        </div>
    </div>
</div>

            {% endfor %}

</body>
</html>
{% endblock  %}
