{% extends 'base-back.html.twig' %}
{% block body %}


<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href=" https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet">
     <link href=" https://code.jquery.com/jquery-3.5.1.js" rel="stylesheet">
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <title>Document</title>

</head>
<body>
<div style="margin-top: 150px ; margin-left: 350px">

    <div class="col-lg-12">

        <div class="card">
            <div class="card-body">

                <h1 style="margin-left: 50px; margin-left: 400px ; color: #86b7fe; font-family: 'Arial Black'; font-size: xx-large">liste des produits</h1>



                <div style="margin-left: 1300px ; margin-right: 300px">

                            <input type="text" class="form-control" placeholder="Search…" aria-label="Search" id="search">
                </div>

                    <table  id="tableac" class="table table-striped">
                    <thead>
                    <tr>
                    <tr>
                        <th>
                            Fournisseur
                        </th>
                        <th>
                            Produit
                        </th>
                        <th>
                            Date d'ajout
                        </th>
                        <th>
                            Date fin validité
                        </th>
                        <th>
                            Prix unitaire
                        </th>
                        <th>
                            Quantité
                        </th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr {% for i in sto %}>
                        <td>
                            {{ i.idf.nomf }}
                            {{ i.idf.prenomf }}
                        </td>
                        <td>
                            {{ i.noms }}

                        </td>
                        <td>
                            {{ i.dateAjoutS|date("d/m/Y") }}
                        </td>
                        <td>
                            {{ i.dateFinS|date("d/m/Y") }}
                        </td>
                        <td>
                            {{ i.prixs }}
                        </td>
                        <td>
                            {{ i.qts }}
                        </td>

                        <td>
                            <a href="{{ path('updateS',{'id':i.ids}) }}"><i class="bi bi-pencil-square"></i></a>
                            <a href="{{ path('deletes',{'id':i.ids}) }}"><i class="bi bi-trash-fill"></i></a>
                        </td>

                        <script>
                            $(document).ready(function(){
                                $('#search').keyup(function(){
                                    search_table($(this).val());
                                });
                                function search_table(value){
                                    $('#tableac tbody tr').each(function(){
                                        var found = 'false';
                                        $(this).each(function(){
                                            if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                                            {
                                                found = 'true';
                                            }
                                        });
                                        if(found == 'true')
                                        {
                                            $(this).show();

                                        }
                                        else
                                        {
                                            $(this).hide();

                                        }
                                    });
                                }
                            });
                        </script>
                    </tr{% endfor %}>
                    </tbody>
                </table>

            <button type="button" class="btn btn-warning rounded-pill"><a href="{{ path('adds') }}">Ajouter</a></button>

                <button type="button" class="btn btn-warning rounded-pill"><a href="{{ path('export') }}">excel</a></button>

                <button type="button" class="btn btn-warning rounded-pill"><a href="{{ path('calendar') }}">afficher calendrier</a></button>
                <button type="button" class="btn btn-warning rounded-pill"><a href="{{ path('default') }}">pdf</a></button>



        </div></div></div></div>

</body>
</html>
{% endblock %}

