
{% extends 'base-back.html.twig' %}
{% block title %} ajout plat {% endblock %}
{% block body %}

    <div style="margin-top: 140px ; margin-left: 500px" >
    <div class="row">
    <div class="col-lg-8">

    <div class="card">
    <div class="card-body">
    {{ form_start(formp,{'attr': {'novalidate': 'novalidate'}} ) }}
    <div style="margin-top: 0px ; margin-left: 125px">
        <h5 class="card-title"><h1>Ajout Plat </h1></h5></div>
    <div style="margin-top: 0px ; margin-left: 125px">
    <div class="col-6">
        {{ form_errors(formp.descplat) }}
        {{ form_label(formp.descplat,"Description  ") }}
        {{ form_widget(formp.descplat) }}
    </div>
    <div class="col-6">
        {{ form_errors(formp.nomplat) }}
        {{ form_label(formp.nomplat,"Nom du plat ") }}
        {{ form_widget(formp.nomplat) }}
    </div>
    <div class="col-6">
        {{ form_errors(formp.prixPlat) }}
        {{ form_label(formp.prixPlat,"Prix du plat ") }}
        {{ form_widget(formp.prixPlat) }}
    </div>
    <div class="col-6">
        {{ form_errors(formp.qPlat) }}
        {{ form_label(formp.qPlat,"Quantité") }}
        {{ form_widget(formp.qPlat) }}
    </div>
    <div class="col-6">
        {{ form_errors(formp.stock )}}
        {{ form_label(formp.stock,"Stock ") }}
        {{ form_widget(formp.stock) }}
    </div>
    <div class="col-4">
        {{ form_errors(formp.idcatt) }}
        {{ form_label(formp.idcatt,"Categorie ") }}
        {{ form_widget(formp.idcatt) }}
    </div>
    <div class="col-md-10">

        {{ form_label(formp.image,"Image") }}
        {{ form_widget(formp.image)}}
        {{ form_errors(formp.image) }}
    </div>

    <div class="row mb-3">

    <br><div style="margin-top: 0px ; margin-left: 75px">
    <button  class="btn btn-primary" type=" {{ form_end(formp) }} </button>


                                </div>
                            </div>
                            <br>

</div>
    </div>
    </div>
    </div>
    </div>
{% endblock  %}