<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1 style="margin-left: 25px; margin-left: 400px ; color: #658fd0; font-family: 'Arial Black'; font-size: xx-large">Plat</h1>
<table   border="8" id="example" class="display" >
    <thead>
    <tr >
        <th>
            idcatt
        </th>
        <th>
            Descplat
        </th>
        <th>
            Nomplat
        </th>
        <th>
            prix_plat
        </th>
        <th>
            q_plat
        </th>
        <th>
            stock
        </th>


    </tr>
    </thead>
    <tbody>
    <tr {% for i in plat %}>
        <td>
            {{ i.idcatt.Nomcat }}
        </td>
        <td>
            {{ i.Descplat }}
        </td>

        <td>
            {{ i.Nomplat }}
        </td>


        <td>
            {{ i.PrixPlat }}
        </td>
        <td>
            {{ i.QPlat }}
        </td>
        <td>
            {{ i.stock }}
        </td>



    </tr{% endfor %}>
    </tbody>
    <script>

        $(document).ready(function() {
            $('#example').DataTable( {
                "order": [[ 3, "desc" ]]
            } );
        } );
    </script>

</table>

</div></div></div></div>
</body>
</html>