{% extends 'base.html.twig' %}

{% block title %}Panier index{% endblock %}

{% block body %}
    <h1>Panier index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idpanier</th>
                <th>Quantite</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for panier in paniers %}
            <tr>
                <td>{{ panier.idpanier }}</td>
                <td>{{ panier.quantite }}</td>
                <td>{{ panier.prix }}</td>
                <td>
                    <a href="{{ path('app_controller_panier_show', {'idpanier': panier.idpanier}) }}">show</a>
                    <a href="{{ path('app_controller_panier_edit', {'idpanier': panier.idpanier}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_controller_panier_new') }}">Create new</a>
{% endblock %}
