{% extends 'base-back.html.twig' %}
{% block body %}

    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href=" https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css
" rel="stylesheet">
        <link href=" https://code.jquery.com/jquery-3.5.1.js
" rel="stylesheet">
        <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js
"></script>
        <title>liste des categories </title>
    </head>
    <body>
    <div style="margin-top: 150px ; margin-left: 350px">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h1 style="margin-left: 25px; margin-left: 400px ; color: #658fd0; font-family: 'Arial Black'; font-size: xx-large">categories</h1>


                    {#  <form method="post" action="{{ path('rechlike') }}">
                    <label>Rechercher</label>
                    <input type="text" name="search"><input type="submit" value="Recherche">
                </form>#}
                    <script type="text/javascript">
                                function imprimer_page(){
                                    window.print();
                                }
                            </script>
                            <form>
                                <input id="impression" class="js-programmatic-set-val btn btn-outline-primary mr-1 mb-1s" name="impression" type="button" onclick="imprimer_page()" value="Print this page" />
                            </form>
                    <table   id="example" class="display" >
                        <thead>
                        <tr >
                            <th>
                                Nomcat
                            </th>
                            <th>
                                Image
                            </th>
                            <th> Actions </th>


                        </tr>
                        </thead>
                        <tbody>
                        <tr {% for i in Cat %}>
                            <td>
                                {{ i.Nomcat }}
                            </td>
                            <td
                                    class="table-light"><img src="{{ asset('/uploads/' ~ i.Image ) }}" alt="img" class="image" style="max-height: 150px; width: 120px;" >
                            </td>

                            <td> <a href="{{ path('d',{'id':i.idcatt}) }}"><i class="bi bi-trash-fill"></i></a> <a href="{{ path('update',{'id':i.idcatt}) }}"><i class="bi bi-pencil-square"></i></a> </td>

                        </tr{% endfor %}>
                        </tbody>
                        <script>

                            $(document).ready(function() {
                                $('#example').DataTable( {
                                    "order": [[ 3, "desc" ]]
                                } );
                            } );
                        </script>

                    </table>
                    <button >
                        <a href="{{ path('add') }}">Ajouter</a>
                    </button>

                </div></div></div></div>


    </body>
    </html>

{% endblock %}



