{% extends 'base-back.html.twig' %}
{% block title %} Modifier categorie  {% endblock %}
{% block body %}
    <div style="margin-top: 150px ; margin-left: 350px" >
    <section class="section">
    <div class="row">
    <div class="col-lg-6">

    <div class="card">
    <div class="card-body">
    <div style="margin-top: 0px ; margin-left: 80px">
        <h5 class="card-title"><h1>Modifier categorie </h1></h5>
    </div>
    {{ form_start(formu,{'attr': {'novalidate': 'novalidate'}} ) }}
    <div style="margin-top: 0px ; margin-left: 125px">

    <div class="col-6">
        {{ form_errors(formu.nomcat) }}
        {{ form_label(formu.nomcat,"Nom categorie") }}
        {{ form_widget(formu.nomcat) }}
    </div>

    <div class="col-md-10">

        {{ form_label(formu.image,"Image") }}
        {{ form_widget(formu.image)}}
        {{ form_errors(formu.image) }}
    </div>
    <br>

    <div style="margin-top: 0px ; margin-left: 75px">
    <button  class="btn btn-primary" type=" {{ form_end(formu) }} </button>
                                </div>
                            </div>
                            <br>
                            </div>

                                        </div>




                </div></div></div></div>
                    {% endblock  %}